[Desktop Entry]
Encoding=UTF-8
Name=Termocoso
Comment=Un termostato programmabile
GenericName=Termostato
Exec=termocoso.py
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=thermostat.png
StartupWMClass=Termocoso
StartupNotify=true

